*{
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7em;
  background: url(/img/background.jpg);
  background-size: cover;
}

.container{
  max-width: 900px;
  margin: auto;
  text-align: justify;
  background-color: #444;
  color: #fff;
  padding: 20px;
  margin-bottom: 50px;
}

h1 {
  color: #444;
  margin-top: 70px;
  padding-bottom: 50px;
  text-align: center;
}